// error
.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: 2rem 0;
  padding: 0 2rem;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  &__input {
    background-color: $dark-blue;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1;
    margin: 0 0 1rem 0;
    //margin-right: 1rem;
    padding: 1rem;
  }
}

@media (min-width: 45rem) {
  .add-option {
    flex-direction: row;
  }

  .add-option__input {
    margin: 0 1rem 0 0;
  }
}
