.header {
  background-color: $off-black;
  color: #fff;
  margin-bottom: 4.8rem;
  padding: 1.6rem 0;

  &__title {
    font-size: 3.2rem;
    margin: 0;
  }

  &__subtitle {
    color: $off-white;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
  }
}
