//Widget
.widget {
  background-color: $light-blue;

  &__desc {
    color: $off-white;
    text-align: center;
    margin: 0;
    padding: 3rem;
    border-bottom: 1px solid lighten($light-blue, 10%);
  }
}

// Widget Header
.widget-header {
  background-color: $blue;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

  &__title {
    color: $off-white;
  }
}