body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper {
    display: flex;
    align-items: center;

}

.btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
}

.reset {
    display: block;
    margin: 0 auto
}

.showDetail {
    display: none;
}